
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>کاربر گرامی</h1>
<h3>
    <p>
        ایمیلی جهت فعالسازی حساب کاربری برای شما ارسال  شد.
    </p>
</h3>

